<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>yys02</display-name>
  <welcome-file-list>
    <welcome-file>inde.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>cn.wangjun.yys.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiuyanServlet</display-name>
    <servlet-name>LiuyanServlet</servlet-name>
    <servlet-class>cn.wangjun.yys.controller.LiuyanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiuyanServlet</servlet-name>
    <url-pattern>/LiuyanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>cn.wangjun.yys.controller.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/EmailServlet</url-pattern>
  </servlet-mapping>
</web-app>